@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url("../fonts/Roboto-Light.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("../fonts/Roboto-LightItalic.ttf") format('truetype');
}
/* Normal */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url("../fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url("../fonts/Roboto-Italic.ttf") format('truetype');
}
/* Bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("../fonts/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("../fonts/Roboto-BoldItalic.ttf") format('truetype');
}
html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: #252525;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-out;
}
h1 {
  color: #FFF;
  font-size: 72px;
  text-shadow: 0px 1px 0 #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
}
.gameGrid {
  /*background-color: transparent;*/
  /*background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);*/
  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgba(150, 150, 150, 0.4) 1px, transparent 1px), linear-gradient(to bottom, rgba(150, 150, 150, 0.4) 1px, transparent 1px);
  height: 100%;
  border-right: 1px solid rgba(150, 150, 150, 0.2);
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}
.gameArea {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /*border: 12px solid #000;*/
}
.snake {
  position: absolute;
  left: 0;
  top: 0;
}
.snake > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: rgba(121, 186, 219, 0.8);
  transition: all 0.15s;
  will-change: transform;
}
.snake:first-child > div {
  background: rgba(220, 119, 208, 0.8);
}
.apple {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 50%;
  background: rgba(89, 220, 62, 0.5);
}
.apple:before,
.apple:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 5px;
  margin-top: -1px;
  margin-left: -1px;
  background: rgba(72, 26, 9, 0.61);
  animation: apple-rotation 2s linear infinite;
  animation-delay: -0.15s;
}
.apple:after {
  height: 5px;
  width: 2px;
}
.apple.red {
  background: rgba(230, 92, 92, 0.5);
}
.apple.red:before,
.apple.red:after {
  animation-delay: -1.85s;
}
.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity .5s;
}
.modal-overlay .modal {
  text-align: center;
  width: 420px;
  padding: 60px 0 50px;
  background: rgba(152, 127, 200, 0.85);
  transform: scale(0);
  opacity: 0;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.5s;
}
.modal-overlay .modal-title {
  color: #FFF;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.modal-overlay .result {
  color: #FFF;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.modal-overlay .result > span {
  font-weight: 800;
}
.modal-overlay .result .blue {
  color: #79badb;
}
.modal-overlay .result .pink {
  color: #dc77d0;
}
.modal-overlay .result .reason {
  display: inline-block;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 100;
}
.modal-overlay .restart-btn {
  cursor: pointer;
  color: #FFF;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.6px;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: border-color 0.5s;
}
.modal-overlay .restart-btn:hover {
  border-color: #ffffff;
}
.modal-opened .modal-overlay {
  opacity: 1;
}
.modal-opened .modal-overlay .modal {
  transform: scale(1);
  opacity: 1;
}
.modal-opened .app {
  transform: scale(0.9);
}
.modal-closing .modal-overlay {
  opacity: 0;
}
.modal-closing .modal-overlay .modal {
  transform: scale(4);
  opacity: 0;
}
.modal-closing .app {
  transform: scale(1);
}
@keyframes apple-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
